body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.welcome-page{
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
}

.welcome-page::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.407);
}

.welcome-page img{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.welcome-page .login-page{
    width: 50%;
    margin: auto;
    background-color: rgba(127, 255, 212, 0.201);
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(10px);
    padding: 25px 10px;
}

@media(max-width: 750px) {
    .welcome-page .login-page{
        width: 75%;
    }
}

@media(max-width: 500px) {
    .welcome-page .login-page{
        width: 85%;
    }
}

.welcome-page .login-page h1{
    margin-top: 30px;
    margin-bottom: 25px;
    color: black;
    font-size: 28px;
    padding: 4px;
}

@media(max-width: 500px){
    .welcome-page .login-page h1{
        font-size: 25px;
    }
}

.welcome-page .login-page input{
    width: 60%;
    height: 42px;
    border-radius: 8px 0 0 8px;
    border: none;
    text-align: center;
}

@media(max-width:500px){
    .welcome-page .login-page input{
        width: 75%;
    }

}

.welcome-page .login-page button{
     width: fit-content;
     height: 62px;
     background-color: #2557a9;
     color: yellow;
     font-weight: 700;
     border-radius: 0 8px 8px 0;
     border: none;
     font-size: 18px;
     cursor: pointer;
     padding: 0 15px;
}

/************************************ROUTE POKEDEX*****************************************/

.container-pokedex{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    max-width: 1350px;
    margin: auto;
}

.container-pokedex .leave {
    width: fit-content;
    padding: 10px;
    background-color: rgb(143, 232, 11);
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.container-pokedex .leave:hover{
    width: 38px;
    height: 38px;
    background-color:rgb(113, 183, 7);
}

.container-pokedex .leave i{
    font-size: 35px;
    color: white;
}

@keyframes rotation{
    from{transform: rotateZ(0deg);}
    to{transform:  rotateZ(360deg);}
}

.pokeball-container{
    width: 100%;
    position: relative;
}

.pokeball{
    width: 30%;
    height: 430px;
    background-image: url(https://mypokedex101.netlify.app/static/media/pokeball.81cfacf9.png);
    position: fixed;
    filter: brightness(200%);
    z-index: -1;
    top: -60px;
    right: -20px;
    background-size: cover;
    height: 500px;
    width: 500px;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
}

.container-pokedex .characters-pokedex {
    width: 90%;
    margin: auto;
}


.container-pokedex .characters-pokedex img{
    width: 200px;
    overflow: hidden;
    border-bottom: 2px solid black;
}

.container-pokedex .characters-pokedex h1{
    text-align: center;
    font-weight: 900;
    color: #ff1c1c;
    font-size: 38px;
    -webkit-text-stroke: black 3px
}

.container-pokedex .characters-pokedex p{
    margin: 8px;
    font-size: 20px;
    text-align: center;
}

.container-pokedex .characters-pokedex form{
    width: 50%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2557a9;
    margin: auto;
    border-radius: 10px;
    margin-top: 30px;
}

@media(max-width: 750px){
    .container-pokedex .characters-pokedex form{
        width: 75%;
    }
}

.container-pokedex .characters-pokedex form h2{
    color: yellow;
    text-align: center;
}

.container-pokedex .characters-pokedex form .search-poke{
    width: 100%;
    text-align: center;
}

.container-pokedex .characters-pokedex form .search-poke input{
    width:  78%;
    height: 42px;
    border: none;
    border-radius: 12px 0 0 12px;
    text-align: center;
}

.container-pokedex .characters-pokedex form .search-poke button{
    width: 7%;
    height: 44px;
    border: none;
    background-color:  white;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
}

.container-pokedex .characters-pokedex form select{
    width: 85%;
    height: 42px;
    display: block;
    margin: 30px;
    border: none;
    border-radius: 12px;
    padding: 0 10px;
    font-weight: 700px;
    text-align: center;
}


.container-pokedex .characters-pokedex .poke-card{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 60px;
    padding-left: 0;
}



.container-pokedex .characters-pokedex .poke-card li {
    text-align: center;
    border: 1px solid black;
    width: 300px;
    height: 380px;
    border-radius: 10px;
    list-style: none;
    background-color:  #a5c0eb;
}

.container-pokedex .characters-pokedex .poke-card  img{
    width: 130px;
    height: 150px;
    text-align: center;
}

.container-pokedex .container-info{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-bottom: 15px;
}


.container-pokedex .container-info .info-card p{
    text-align: justify;
    font-size: 18px;
}


.container-img-leter{
   width: 90%;
   margin: auto;
   padding-left: 8px;
   height: 70px; 
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/640px-International_Pok%C3%A9mon_logo.svg.png);
   background-size: 40%;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
}

/******************************************POKEMONES PER ID********************************************/

.poke-per-id {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #48d0b0;
    position: absolute;
    z-index: -1;
    overflow-x: hidden;
}

.poke-per-id .btn-previus{
    text-align: justify;
    font-size: 45px;
    width: 90%;
    margin: auto;
    padding: 20px;
}

.poke-per-id .btn-previus i{
    cursor: pointer;
    color: #2557a9;
}

.poke-per-id .btn-previus i:hover{
    font-size: 47px;
    color: yellow;
}



.poke-per-id Img{
    text-align: center;
    border-bottom: 1px solid black;
}

/*********************Details-poke************************/
.poke-per-id .set-contain-movements{
    width: 70%;
    display: flex;
    gap: 40px;
    margin: auto;
    position: relative;
}

@media(max-width: 1000px) {
    .poke-per-id .set-contain-movements{
        width: 90%;
    }
}

@media(max-width: 800px){
    .poke-per-id .set-contain-movements{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.poke-per-id .set-contain-movements .main-features{
    background-color: white;
    padding-bottom: 20px;
}

.poke-per-id .set-contain-movements .main-features .content-img img{
   width: 43%;
}

.poke-per-id .set-contain-movements .main-features .content-img h1{
    margin: 4px;
 }

.poke-per-id .set-contain-movements .main-features .content-img .numberid{
    width: fit-content;
    padding: 10px;
    margin: auto;
    border: 1px solid #adb5b3;
    border-radius: 8px;
    font-weight: 700;
 }

.poke-per-id .set-contain-movements .main-features .content-img .duo-height-weight{
    display: flex;
    justify-content: space-around;
}

.poke-per-id .set-contain-movements .main-features .content-img .duo-height-weight p{
    margin: 0;
}

.poke-per-id .set-contain-movements .pokeletter-detail{
    width: 40%;
    height: 300px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png);
    background-repeat: no-repeat;
    background-size: 66%;
    position: absolute;
    left: -30px;
    top: -30px;
    z-index: 1;
}

@media(max-width:801px){
    .poke-per-id .set-contain-movements .pokeletter-detail{
        width:50%;
        height: 300px;
        position: absolute;
        left: 40px;
        top: -30px;
        z-index: 1;
    }
}

@media(max-width:587px){
    .poke-per-id .set-contain-movements .pokeletter-detail{
        width:53%;
        height: 300px;
        position: absolute;
        left: 10px;
        top: -30px;
        z-index: 1;
    }
}

@media(max-width: 468px){
    .poke-per-id .set-contain-movements .pokeletter-detail{
        width:55%;
        height: 300px;
        position: absolute;
        left: 10px;
        top:-20px;
        z-index: 1;
    }
}


.poke-per-id .set-contain-movements .contain-characters-pokedetail{
    width: 75%;
}

@media(max-width:700px){
    .poke-per-id .set-contain-movements .contain-characters-pokedetail{
        width: 95%;

    }
}

.poke-per-id .set-contain-movements .contain-characters-pokedetail .contain-type-and-abilities{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    gap: 20px;
    word-wrap: break-word;
}

.poke-per-id .set-contain-movements .contain-characters-pokedetail .types, .abilities{
    width: 100%;
    background-color: white;
    padding: 10px;
}

.poke-per-id .set-contain-movements .contain-characters-pokedetail .types .duo-types{
    display: flex;
    justify-content: space-around;
   text-align: center;
}

.poke-per-id .set-contain-movements .contain-characters-pokedetail .types .duo-types .type1, .type2{
    width: 40%;
    height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #48d0b0;
}

@media(max-width: 575px){
    .poke-per-id .set-contain-movements .contain-characters-pokedetail .types .duo-types .type1, .type2{
        height: 45px;
        line-height: 1;
        font-size: 10px;
        font-weight: 700;
        width: 55px;
    }
}

.poke-per-id .set-contain-movements .contain-characters-pokedetail .abilities .duo-abilities {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

@media(max-width: 575px){
    .poke-per-id .set-contain-movements .contain-characters-pokedetail .abilities .duo-abilities {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
}

.poke-per-id .set-contain-movements .contain-characters-pokedetail .abilities .duo-abilities .abilities1, .abilities2{
    width: 40%;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #d7e2df;
}

@media(max-width: 575px){
    .poke-per-id .set-contain-movements .contain-characters-pokedetail .abilities .duo-abilities .abilities1, .abilities2{
        height: 45px;
        line-height: 1;
        font-size: 10px;
        font-weight: 700;
        width: 60px;
    }
}

.poke-per-id .set-contain-movements .contain-characters-pokedetail .stats-bases{
    background-color: white;
    padding: 20px;
    margin-top: 12px;
}


.poke-per-id .set-contain-movements .contain-characters-pokedetail .stats-bases .content-stats p{
    text-align: justify;
    border-bottom: 1px solid black;
}

.poke-per-id .set-contain-movements .movements{
    width: 25%;
    background-color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

@media(max-width: 800px){
    .poke-per-id .set-contain-movements .movements{
        width: 75%;
    }
}

.poke-per-id .set-contain-movements .movements ul, li{
    list-style: none;
    padding: 0;
}

.poke-per-id .set-contain-movements .movements ul li{
    padding-top: 7px;
}

.poke-per-id .set-contain-movements .movements ul li .line{
    width: 40%;
    border-bottom: 1px solid rgb(189, 186, 186);
    margin: auto;
    padding: 5px;
}

/*----Pokemon  NO FOUND-----*/

.status {
    width: 100%;
    height: 100vh;
    background-image: url('https://wallup.net/wp-content/uploads/2016/05/24/143432-nature-Pokemon-748x468.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: yellow;
    text-shadow: 0 0 10px black;
}

.status .btn-back{
    margin: 15px;
}

.status .btn-back button{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #2557a9;
    color: white;
    font-size: 35px;
    border: none;
    outline: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.status .btn-back button:hover{
    background-color: #4584ea;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.status .alert-pokemon{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.paginated{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.paginated button{
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
    background-color: yellow;
}

.paginated button:hover{
    background-color: rgb(254, 254, 91);
}

.paginated .btn{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    color: wheat;
    margin: 0 5px;
}

.paginated .btn:hover{
    background-color: rgb(194, 0, 0);
    color: wheat;
}

/*----LOADING----*/

.loading_content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://images3.alphacoders.com/273/273289.jpg');
    background-repeat: no-repeat;
}

.classic-6 {
    --w:10ch;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    letter-spacing: var(--w);
    width:var(--w);
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 25px;
    text-shadow: 
      calc(-1*var(--w)) 0, 
      calc(-2*var(--w)) 0, 
      calc(-3*var(--w)) 0, 
      calc(-4*var(--w)) 0,
      calc(-5*var(--w)) 0, 
      calc(-6*var(--w)) 0, 
      calc(-7*var(--w)) 0, 
      calc(-8*var(--w)) 0, 
      calc(-9*var(--w)) 0;
    animation:c6 2s infinite;
  }
  .classic-6:before {
    content:"Loading...";
  }
  @keyframes c6 {
    20% {text-shadow: 
      calc(-1*var(--w)) 0, 
      calc(-2*var(--w)) 0 red, 
      calc(-3*var(--w)) 0, 
      calc(-4*var(--w)) 0 #ffa516,
      calc(-5*var(--w)) 0 #63fff4, 
      calc(-6*var(--w)) 0, 
      calc(-7*var(--w)) 0, 
      calc(-8*var(--w)) 0 green, 
      calc(-9*var(--w)) 0;}
    40% {text-shadow: 
      calc(-1*var(--w)) 0, 
      calc(-2*var(--w)) 0 red, 
      calc(-3*var(--w)) 0 #e945e9, 
      calc(-4*var(--w)) 0,
      calc(-5*var(--w)) 0 green, 
      calc(-6*var(--w)) 0 orange, 
      calc(-7*var(--w)) 0, 
      calc(-8*var(--w)) 0 green, 
      calc(-9*var(--w)) 0;}
    60% {text-shadow: 
      calc(-1*var(--w)) 0 lightblue, 
      calc(-2*var(--w)) 0, 
      calc(-3*var(--w)) 0 #e945e9, 
      calc(-4*var(--w)) 0,
      calc(-5*var(--w)) 0 green, 
      calc(-6*var(--w)) 0, 
      calc(-7*var(--w)) 0 yellow, 
      calc(-8*var(--w)) 0 #ffa516, 
      calc(-9*var(--w)) 0 red;}
    80% {text-shadow: 
      calc(-1*var(--w)) 0 lightblue, 
      calc(-2*var(--w)) 0 yellow, 
      calc(-3*var(--w)) 0 #63fff4, 
      calc(-4*var(--w)) 0 #ffa516,
      calc(-5*var(--w)) 0 red, 
      calc(-6*var(--w)) 0, 
      calc(-7*var(--w)) 0 grey, 
      calc(-8*var(--w)) 0 #63fff4, 
      calc(-9*var(--w)) 0 ;}
  }
  

.wobbling-10 {
    height:160px;
    width:160px;
    position: relative;
  }
  .wobbling-10::before,
  .wobbling-10::after {
    content: "";
    position: absolute;
    inset:0;
    border-radius: 50%;
    transform-origin: bottom;
  }
  .wobbling-10::after {
    background:
      radial-gradient(at 75% 15%,#fffb,#0000 35%),
      radial-gradient(at 80% 40%,#0000,#0008),
      radial-gradient(circle  5px,#fff 94%,#0000),
      radial-gradient(circle 10px,#000 94%,#0000),
      linear-gradient(#F93318 0 0) top   /100% calc(50% - 5px),
      linear-gradient(#fff    0 0) bottom/100% calc(50% - 5px)
      #000;
    background-repeat: no-repeat;
    animation: w10 1s infinite cubic-bezier(0.5,120,0.5,-120);
  }
  
  .wobbling-10::before {
    background:#ddd;
    filter: blur(8px);
    transform: scaleY(0.4) translate(-13px, 0px);
  }
  
  @keyframes w10 { 
   30%,70% {transform:rotate(0deg)}
   49.99%  {transform:rotate(0.2deg)}
   50%     {transform:rotate(-0.2deg)}
  }
